@import "./../../../../static/scss/main.scss";
.accountAdd_content {
  @include boxStyle(1000px);
  .accountContent{
    width: 600px;
    height: 800px;
    margin: 20px 40px;
    .fistPart{
      width: 100%;
      height: 60px;
      display: flex;
      .accountName{
        width: 240px;
        margin: 20px 0;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
      .accountStatus{
        width: 210px;
        margin: 20px 40px;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
    }
    .secondPart{
      width: 100%;
      height: 60px;
      display: flex;
      margin-top: 10px;
      .accountNumber{
        width: 240px;
        margin: 20px 0;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
      .accountPassword{
        width: 210px;
        margin: 20px 40px;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
    }
    .thirdPart{
      width: 100%;
      height: 60px;
      display: flex;
      margin-top: 10px;
      .accountBranch{
        width: 240px;
        margin: 20px 0;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
      .accountRole{
        width: 210px;
        margin: 20px 40px;
        label{
          @include label;
        }
        input{
          @include inputStyle(155px,28px,1px solid #cccccc);
          @include border-radius;
          padding-left: 10px;
        }
      }
    }
    .bottomPart{
      width: 150px;
      height: 30px;
      margin: 50px auto;
      input{
        float: left;
        display: inline-block;
        outline: none;
        width: 60px;
        height: 30px;
        border: 0;
        @include border-radius;
        font-size: 12px;
        &:nth-of-type(1) {
          background: #e1e1e1;
          color: #7d7b7d;
        }
        &:nth-of-type(2) {
          background: #ec6a47;
          color: #FFFFFF;
          margin-left: 30px;
        }
      }
    }
  }
}
