@import "./../../../../static/scss/main.scss";
.paramList_content {
  @include boxStyle(1000px);
  .query_criteria{
    width: 98%;
    height: 30px;
    margin: 0 auto;
    .query_newAdd{
      width: 70px;
      height: 30px;
      background: #ec6a47;
      line-height: 30px;
      text-align: center;
      margin:20px;
      cursor: pointer;
      a{
        color: #ffffff;
        font-size: 12px;
      }
      @include border-radius;
    }
  }
  .paramList_table{
    width: 98%;
    height: auto;
    margin: 20px auto;
    border-collapse: collapse;
    thead{
      width: 100%;
      height: 65px;
      line-height: 65px;
      background: #f4f0ee;
      color: #626363;
      font-size: 14px;
      td{
        text-align: center;
      }
    }
    tbody{
      width: 100%;
      color: #9c9b9c;
      font-size: 12px;
      tr{
        &:nth-of-type(n){
          background: #ffffff;
        }
        &:nth-of-type(2n){
          background: #f8f8fb;
        }
        img{
          position: absolute;
          left:0;
          top:0;
        }
        td{
          text-align: center;
          height: 60px;
          line-height: 60px;
          a{
            cursor: pointer;
          }
        }
      }
    }
  }
  .paramList_page{
    width: 98%;
    margin: 20px auto;
    .pages{
      width: 100%;
      .el-pagination{
        width: 98%;
        color: #9c9b9c;
        text-align: right;
      }
    }
  }
}
